<div class="container text-center" style="text-align:center">

    <div class="row">

        <div class="col-sm-4"></div>
        <form class="col-sm-4" action="submit" id="punchClock">
            <div class="form-group" style="text-align: center">
                <label for="usr">Employee ID</label>
                <input type="number" class="form-control" id="userId" max="99999" required>
            </div>
            <div class="container">
                <button type="submit" class="btn" id="clockIn">Clock In</button>
                <button type="submit" class="btn" id="clockOut">Clock Out</button>
            </div>
            <div>
                <p id="punchCardMessage">Error / Confirmation</p>
            </div>
        </form>

    </div>
</div>

<script src="/js/clockInOut.js"></script>