

<a href="/employee/register">
Enroll employees</a>

<h3>View employee timecards</h3>
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Punch In</th>
        <th>Punch Out</th>
    </thead>
    <tbody>
        <td>Mike</td>
        <td>Tyson</td>
        <td>01:30</td>
        <td>15:00</td>
    </tbody>
</table>