<a href="/" class="btn btn-info">Home</a>
<br>
<hr>
<br>

<a href="/employee/register" class="btn btn-primary">
    Enroll employees</a>
<br>
<h3 style="text-align: center;">View employee timecards</h3>
<br>
<form>
    <select name="employees" id="employees" class="form-control">

    </select>
    <br>
    <button type="submit" id="get-timecards" class="btn btn-info">Pull Timecards</button>
</form>
<br>
<div class="row employ">
    <div class="col-sm-6">
        <form id="timeTable">
            <table class="span table table-responsive">
                <p>Time format: 24hr(8:00AM = 0800, 9:00PM = 2100)</p>
                <p>Date format: DD-MMM-YYYY(22-may-2018)</p>
                <tcaption>Insert Times Below:</tcaption>
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody id="hoursBody">
                    <tr>
                        <td>
                            <input class="start form-control" type="text" placeholder="HHMM" id="clockIn">
                        </td>
                        <td>
                            <input class="end form-control" type="text" placeholder="HHMM" id="clockOut">
                        </td>
                        <td class="notesTD">
                            <input class="notesInput form-control" type="text" placeholder="Date" id="date">
                        </td>
                    </tr>

                </tbody>

            </table>
            <button type="button" id="clearInputBTN" class="btn btn-danger float-right">Clear</button>
            <button type="button" class="btn btn-light span" id="hrSubmit">Submit</button>
        </form>
        <div id="error" class="alert-danger">This is a test error message.</div>
    </div>

    <div class="col-sm-6">

        <table class="span4 table table-responsive">
            <tcaption>Collective Time Reported:</tcaption>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Punch In</th>
                    <th>Punch Out</th>
                    <th>Sum of Hours</th>
                </tr>
            </thead>
            <tbody id="hoursTable">
                <tr>
                    <td>
                        <div class="time">
                            <span>Date...</span>
                        </div>
                    </td>
                    <td>
                        <div class="time">
                            <span>Hour...</span>
                        </div>
                    </td>
                    <td>
                        <div class="taskOut">
                            <span>Hour...</span>
                        </div>
                    </td>
                    <td>
                        <div class="notesOut">
                            <span>Total...</span>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div id="sumTotal">
            <strong>Total Hours Worked for the week: </strong>
        </div>

    </div>
</div>
<script src="/js/manager.js"></script>