

<form action="/employee/login" method="post">
    <label for="username" class="form-group">
        Employee ID
        <input type="text" id="username" name="username" class="form-control">
    </label>
    <label for="password" class="form-group">
        Password
        <input type="password" id="password" name="password" class="form-control">
    </label>
    <button type="submit">Login</button>
</form>