<body class="bg-info">
    

    <div class="info well well-large">
        <h1>Manage Time</h1>
        <p>Fill in the table on the left with the start and end times of a your workday. Then click <code>submit</code>, which will sum the hours and place them in the proceeding table.</p>
    </div>

    <!-- /container -->
    <div id="centerContainer">
    <div class="container-fluid">
        <!--row of columns -->
        <div class="row">
            <div class="block-left ">
                <form id="timeTable">
                    <table class="span table table-responsive">
                        <tcaption>Insert Times Below:</tcaption>
                        <thead>
                            <tr>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Additional Notes</th>
                            </tr>
                        </thead>

                        <tbody id="hoursBody">
                            <tr>
                                <td><input class="start" type="text" placeholder="HH:MM" id="clockIn"></td>
                                <td><input class="end" type="text" placeholder="HH:MM" id="clockOut" ></td>
                                <td class="notesTD"><input class="notesInput" type="text" placeholder="Enter Notes..." id="date"></td>
                            </tr>
                            <tr id="addRowTR">
                                <td><button type="button" id="clearInputBTN" class="btn btn-danger">Clear</button></td>
                                <td></td>
                                <td id="addRowTD"><button type="button" class="btn btn-success" id="addRowBTN">Add Another Row +</button></td>
                            </tr>
                        </tbody>
                    
                    </table>
                    <button type="button" class="btn span" id="hrSubmit">Submit</button>
                </form>
            <div id="error">This is a test error message.</div>
            </div>

            <div class="block">
                <form id="sumTable">
                    <table class="span4 table table-responsive">
                        <tcaption>Collective Time Reported:</tcaption>
                        <thead>
                            <tr>
                                <th>Sum of Hours</th>
                                <th>Date Worked</th>
                                <th>Additional Notes</th>
                            </tr>
                        </thead>
                        <tbody id="hoursTable">
                            <tr>
                                <td>
                                    <div class="time"><span>Hours...</span></div>
                                </td>
                                <td>
                                    <div class="taskOut"><span>Date...</span></div>
                                </td>
                                <td>
                                    <div class="notesOut"><span>Notes...</span></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="time"><span>Hours...</span></div>
                                </td>
                                <td>
                                    <div class="taskOut"><span>Date...</span></div>
                                </td>
                                <td>
                                    <div class="notesOut"><span>Notes...</span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="sumTotal">
                        <strong>Total Hours Worked: </strong>
                        <p id="totTime"></p>
                        <button id="clearOutputTables" class="btn btn-danger" onclick="return false;">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>

</html>