<form action="/employee/register" method="post">
    <label for="first-name" class="form-group">
        First Name
        <input type="text" id="first-name" name="firstname" class="form-control">
    </label>
    <label for="last-name" class="form-group">
        Last Name
        <input type="text" id="last-name" name="lastname" class="form-control">
    </label>
    <label for="email" class="form-group">
        Email:
        <input type="text" id="email" name="email" class="form-control">
    </label>
    <label for="password" class="form-group">
        <input type="password" id="password" name="password" class="form-control">
    </label>
    <label for="position" class="form-group">
        <select name="position" id="position" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </label>
    <button class="btn btn-success">Register</button>
</form>