<div class="row">
    <div class="col-12">
        <h3>Viewing timecards as {{currentUser.first_name}} {{currentUser.last_name}}</h3>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="timecard">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Punch In</th>
                    <th scope="col">Punch Out</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

