<div class="row d-flex justify-content-center text-center text-white">
  <div class="col-12">
    <div class="row d-flex justify-content-center text-center text-white">

      <div class="col-12 mt-2 text-white">

        <a href="/punch">
          <strong> Punch </strong>
          <img class="img-responsive center-block mb-5 d-block mx-auto" src="/img/profilepic.png" width="100">
        </a>


      </div>
    </div>
    <div class="row d-flex justify-content-center text-center text-white">

      <div class="col-md-4 mt-2 text-white">

        <a href="/employee/login">
          <strong> Employee Login</strong>
          <img class="img-responsive center-block mb-5 d-block mx-auto" src="/img/timesheet.png" width="100">
        </a>


      </div>

      <div class="col-md-4 mt-2 text-lg">

        <a href="/manager/login">
          <strong>Manager Login</strong>
          <img class="img-responsive center-block mb-5 d-block mx-auto" src="/img/manager.png" width="100">
        </a>

      </div>
    </div>
  </div>


</div>