<div class="row d-flex justify-content-center">
        
        <div class="col-md-3 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-black">
                  <a href="/punch">
                  <img class="img-responsive center-block mb-5 d-block mx-auto" src="/img/profilepic.png" width="100">
                  </a>
                
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-black">
                  <a href="/employee/login">
                  <img class="img-responsive center-block mb-5 d-block mx-auto" src="/img/timesheet.png" width="100">
                  </a>
                
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-black">
                  <a href="/manager/login">
                                  <img class="img-responsive center-block mb-5 d-block mx-auto" src="/img/manager.png" width="100">
</a>
              </div>
            </div>
          </a>
        </div>

      </div>